* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #5a5a5a;
}

/* ......Header...... */

header {
    position: relative;
    color: rgb(186, 153, 91);
    height: 550px;
}

.primary {
    width: 100%;
    height: 550px;
}

.navbar {
    position: absolute;
    top: 1%;
    left: 27.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 90px;
}

.title {
    display: flex;
    align-items: top;
    padding: 10px;
    gap: 10px;
    font-size: 60px;
    border-radius: 1ch;
    background-color: rgba(40, 40, 40, 0.838);
}

.logo {
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

.nav {
    font-size: 40px;
    padding: 60px;
    display: flex;
    align-items: center;
    gap: 25px;
    height: 170px;
    padding-top: 200px;
}

header nav a {
    text-decoration: none;
    padding: 5px;
    color: rgb(186, 153, 91);
    border-radius: 1ch;
    background-color: rgba(40, 40, 40, 0.642);
}

.nav a:hover {
    background-color: rgba(79, 79, 79, 0.905);
    color: black;
}

nav a.active {
    background-color: rgba(79, 79, 79, 0.905);
    color: black;
}

@media(max-width: 1046px) {
    header {
    height: 450px;
    }

    .primary {
    height: 450px;
    }
    .navbar {
        left: 10%;
    }
    .nav {
        font-size: 35px;
        padding-top: 100px;
    }
}

@media(max-width: 655px) {
    .nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 50px;
    }
}

@media(max-width: 551px) {
    .title {
        display: flex;
        justify-content: center;
    }

    .nav {
        padding-top: 0px;
        font-size: 35px;
        padding-top: 25px;
    }
}

@media(max-width: 512px) {
    header {
    height: 340px;
    }

    .primary {
        height: 340px;
    }
}

@media(max-width: 470px) {
    .navbar {
        left: 5%;
    }

    .title {
        font-size: 50px;
    }
}

@media(max-width: 412px) {
    .nav {
        font-size: 30px;
    }
}

@media(max-width: 384px) {

    .navbar {
        left: 0%;
        padding-top: 40px;
    }

    .title {
        font-size: 40px;
    }
    .nav {
        font-size: 26px;
    }
}

/* ..........Main......... */

.content {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    padding: 30px;
    /* border-radius: 10px 10px 10px 10px;
    background-color: hsla(0, 0%, 100%, 0.5); */
}

.content h2 {
    font-size: 36px;
    font-weight: 500;
}

.content p {
    font-weight: 300;
}


.contact {
    background-color: rgb(253, 195, 88);
    background-image: url('/downloads/inside-restraurant.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    position: relative;
    padding-top: 20px;
    display: flex;
}

.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    padding: 5px;
    color: #020202;
    flex-direction: column;
    font-weight: 300;
    border-radius: 10px 10px 10px 10px;
    background-color: hsla(0, 0%, 100%, 0.5);
}

.container .contactInfo .box .text h3 {
    font-size: 24px;
    font-weight: 500;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background-color: #fff;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background-color: #00bcd4;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.contactForm .inputBox input[type="submit"]:hover, 
input[type="submit"]:focus, 
input[type="submit"]:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


#msg {
    color: #ff0d00;
    margin-top: 10px;
    display: block;
}

@media( max-width:991px) {
    .contact {
        padding: 50px;
    }

    .container {
        flex-direction: column;
    }

    .container .contactInfo {
        margin-bottom: 40px;
    }

    .container .contactForm,
    .contactForm {
        width: 100%;
    }
}

footer {
    background-color: #000000;
    color: #ffffff;
    padding: 30px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.lower-footer {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

@media(max-width: 680px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .lower-footer {
        gap: 20px;
    }
}

.rights {
    display: flex;
    align-content: center;justify-content: center;
    color: #5a5a5a;
    font-size: 15px;
}