* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #5a5a5a;
}

header {
    background-color: rgb(186, 153, 91);
    background-image: url('/downloads/rice.jpg');
    background-blend-mode: overlay ;
    display: flex;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 20px;
    height: 400px;
}

header nav a {
    text-decoration: none;
    color: #000000;
}

.title {
    display: flex;
    align-items: top;
    padding: 40px;
    gap: 10px;
    font-size: 60px;
}

.logo {
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

.nav {
    display: flex;
    gap: 20px;
    padding: 60px;
    font-size: 40px;
}

@media(max-width: 1046px) {
    header {
        display: flex;
        flex-direction: column;
        font-size: 60px;
    }
}

@media(max-width: 600px) {
    .nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

footer {
    background-color: #000000;
    color: #ffffff;
    padding: 30px;
}

.lower-footer {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

@media(max-width: 680px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .lower-footer {
        gap: 20px;
    }
}

.rights {
    display: flex;
    align-content: center;justify-content: center;
    color: #5a5a5a;
    font-size: 15px;
}