* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #5a5a5a;
}

/* ......Header...... */

header {
    position: relative;
    color: rgb(186, 153, 91);
    height: 550px;
}

.primary {
    width: 100%;
    height: 550px;
}

.navbar {
    position: absolute;
    top: 1%;
    left: 27.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 90px;
}

.title {
    display: flex;
    align-items: top;
    padding: 10px;
    gap: 10px;
    font-size: 60px;
    border-radius: 1ch;
    background-color: rgba(40, 40, 40, 0.838);
}

.logo {
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

.nav {
    font-size: 40px;
    padding: 60px;
    display: flex;
    align-items: center;
    gap: 25px;
    height: 170px;
    padding-top: 200px;
}

header nav a {
    text-decoration: none;
    padding: 5px;
    color: rgb(186, 153, 91);
    border-radius: 1ch;
    background-color: rgba(40, 40, 40, 0.642);
}

.nav a:hover {
    background-color: rgba(79, 79, 79, 0.905);
    color: black;
}

nav a.active {
    background-color: rgba(79, 79, 79, 0.905);
    color: black;
}

@media(max-width: 1046px) {
    header {
    height: 450px;
    }

    .primary {
    height: 450px;
    }
    .navbar {
        left: 10%;
    }
    .nav {
        font-size: 35px;
        padding-top: 100px;
    }
}

@media(max-width: 655px) {
    .nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 50px;
    }
}

@media(max-width: 551px) {
    .title {
        display: flex;
        justify-content: center;
    }

    .nav {
        padding-top: 0px;
        font-size: 35px;
        padding-top: 25px;
    }
}

@media(max-width: 512px) {
    header {
    height: 340px;
    }

    .primary {
        height: 340px;
    }
}

@media(max-width: 470px) {
    .navbar {
        left: 5%;
    }

    .title {
        font-size: 50px;
    }
}

@media(max-width: 412px) {
    .nav {
        font-size: 30px;
    }
}

@media(max-width: 384px) {

    .navbar {
        left: 0%;
        padding-top: 40px;
    }

    .title {
        font-size: 40px;
    }
    .nav {
        font-size: 26px;
    }
}

/* ..........Main......... */

.upper-text {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    padding: 50px 60px;
    gap: 20px;
}

.upper-text p {
    font-size: 25px;
}

@media(max-width: 770px) {
    .upper-text {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.list {
    padding-top: 10px;
    font-size: 15px;
}

.middle-text {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
}

.photos {
    background-color: #000000;
}

.photos .gourmet img {
    width: 340px;
    height: 240px;
}

.gourmet {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.photos .chef img {
    width: 440px;
    height: 340px;
}

.chef {
    display: flex;
    justify-content: center;
}

.photos .sushi img {
    width: 440px;
    height: 340px;
}

.sushi {
    display: flex;
    justify-content: center;
}

@media(max-width: 770px) {
    .gourmet {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .photos .gourmet img {
        width: 440px;
        height: 340px;
    }
}

@media(max-width: 445px) {

    .photos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    .photos .gourmet img{
        width: 380px;
        height: auto;
    }

    .photos .chef img{
        width: 380px;
        height: auto;
    }

    .photos .sushi img{
        width: 380px;
        height: auto;
    }
}

@media(max-width: 390px) {
    .photos .gourmet img{
        width: 300px;
        height: auto;
    }

    .photos .chef img{
        width: 300px;
        height: auto;
    }

    .photos .sushi img{
        width: 300px;
        height: auto;
    }
}

.lower-text {
    background-color: rgb(253, 195, 88);
    background-image: url('/downloads/outside-restraurant.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 20px;
    height: 600px;
    width: auto;
}

@media(max-width: 870px) {
    .lower-text {
        background-image: url('/downloads/outside.jpg');
    }
}

@media(max-width: 600px) {
    .lower-text {
        background-image: url('/downloads/outside-2.jpg');
        background-size: cover;
        height: auto;
    }
}

.lower-text .location {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 180px;
}

.location h1 {
    font-size: 40px;
}

.h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    background-color: hsla(0, 0%, 100%, 0.5);
}


.lower-text .location a {
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 10px 10px 10px 10px;
    background-color: hsla(0, 0%, 100%, 0.5);
}



footer {
    background-color: #000000;
    color: #ffffff;
    padding: 30px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.lower-footer {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

@media(max-width: 680px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .lower-footer {
        gap: 20px;
    }
}

.rights {
    display: flex;
    align-content: center;justify-content: center;
    color: #5a5a5a;
    font-size: 15px;
}